body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	overflow: hidden;
	display: none;
    text-align: center;
	justify-content: center;
	align-items: center;
}

*{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.battlepass {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 5vw;
    text-align: left;

	background-color: rgba(27, 27, 27, 0.719);
	background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

	overflow: hidden;
	width: 70vw;
	height: 44vw;

	justify-content: center;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

#left-side{
	border-radius: 10% ;
	padding: 0.2%;
	width: 18%;
	height: fit-content;
	margin: 13% 0% 15% -5%;
	color: aliceblue;
	margin-top: 22vw;
	margin-left: 2vw;
}

#level {
	font-weight: bolder;
	font-size: 1vw;
	color: gold;
	text-shadow: 0px 0px 10px gold;
}
  
#level_progress_main {
	font-size: 0.9vw;
	width: 100%;
	padding: 5%;
}
  
#level_dc_main {
	width: 100%;
	padding: 5%;
	font-size: 0.7vw;
}
  
#level_dc_perc {
	color: rgb(227, 250, 23);
	font-weight: bold;
	font-size: 0.7vw;
}
  
#level_progress_perc {
	color: greenyellow;
	font-weight: bold;
	font-size: 0.9vw;
}

.level_progress_background {
	background-color: grey;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin: 0.9vw;
	height: 0.5vw;
	width: auto;
	max-width: 100%;
	border-radius: 0.9vw;
}

.level_progress_status {
	background: rgb(50, 143, 21);
	height: 0.5vw;
	width: 0;
	border-radius: 0.9vw;
	transition: width 0.5s ease-in;
}


#top-side{
	border-radius: 5%;
	width: 70%;
	height: 40%;
	margin: 5% 0% 5% 5%;
	display: block;
	justify-content: center;
  }
  
  /* PACK DISPLAY */
  #packdisplay{
	display: absolute;
	width: 100%;

	margin-top: -26%;
	margin-bottom: 10%;
	margin-right: -8.5%;
	overflow-x: auto;
	overflow-y: hidden;
  
  }
  
  #packDisplayBox{
	width: 100%;
	color: white;
	flex: 0 0 auto;
	max-height: 90%;
	margin: 1%;
  
	margin-left: 0%;
	background-size: 100%;
  
  }
  
  #pack_display_box_det{
	height: 100%;
  }
  
  #pack_display_box_description{
	font-family: monospace;
	color: gold;
	text-shadow: 0px 0px 5px gold;
	font-size: 0.9vw;
	font-weight: bolder;
	
  }
  
#pack_display_level_box_reward{
	position: absolute;
	margin-top: -14%;
	margin-left: 21%;

	font-size: 0.7vw;
	opacity: 0.7;
	font-family: monospace;
	color: gray;
	text-shadow: 0px 0px 5px gray;
	font-size: 0.9vw;
	font-weight: bolder;
}

#pack_level_box_img {
	position: absolute;
	margin-top: -17vw;
	margin-left: 26.5vw;

	width: 10vw;
}
  
  
  #pack_display_level_box_description_title{
	position: absolute;
	margin-top: -21.7vw;
	left: 16.5vw;
	
	font-family: monospace;
	color: rgba(203, 39, 39, 0.776);
	text-shadow: 0px 0px 5px rgba(203, 39, 167, 0.63);
	font-size: 0.9vw;
	font-weight: bolder;
  }
  
  #pack_display_level_box_description{
	position: absolute;
	margin-top: -20.1vw;
	left: 16.5vw;
	width: 26vw;
	font-family: monospace;
	color: rgb(211, 211, 211);
	text-shadow: 0px 0px 5px white;
	font-size: 0.7vw;
  }
  
  #pack_display_level_box_description_itemname{
	position: absolute;
	margin-top: -21.7vw;
	left: 42.96vw;
	width: 14.05vw;
	font-family: monospace;
	color: rgba(131, 131, 131, 0.776);
	text-shadow: 0px 0px 5px gray;
	font-size: 0.9vw;
	text-align: center;
	background-color: rgb(27, 27, 27);
	font-weight: bolder;
  }
  
  
  
  #level_box_display_claim{
	position: absolute;
	margin-top: -24%;
	margin-left: 45%;
	border-radius: 1.5vw;
	font-size: 0.7vw;
	padding: 1%;
	letter-spacing: 0.2vw;
	background-color: rgba(29, 29, 29, 0.767);

	height: fit-content;
	width: fit-content;
	opacity: 0.8;
  }
  
  #level_box_display_claim i{
	color: white;
	text-shadow: 0px 0px 15px white;
  }
  #level_box_display_claim:hover{
  
	cursor: pointer;
	background-color: rgb(124, 0, 0);
	box-shadow: 0px 0px 15px rgb(124, 0, 0);
  }
  
  /* LEVEL BOX */

#bot-side{
	border-radius: 5%;
	width: 70%;
	height: 80%;
	margin: 5% 0% 5% 5%;
	display: block;
	justify-content: center;
}

#levelpacks{
	display: flex;
	width: 100%;
	height: 50%;
	margin-top: -40%;
	margin-bottom: -10%;
	margin-left: 15.0%;
	overflow-x: auto;
	overflow-y: hidden;
  
}
  
#levelBox{
	width: 19%;
	color: white;
	flex: 0 0 auto;
	max-height: 90%;
	margin: 1%;
  
	margin-left: 0%;
	background-size: 100%;
}
#level_counter{
	width: 90%;
	margin-top: -8%;
	font-size: 0.6vw;
	letter-spacing: 1px;
	text-shadow: 0px 0px 5px gold;
	color: gold;
	font-weight: bold;
	border-radius: 15px;
	border: 2px solid rgba(76, 25, 216, 0.376);
  
}
  #level_box_det{
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 0, 0, 0.137);
	height: 90%;
}
  
.fa-check-circle,.fa-check{
	color: greenyellow;
	text-shadow: 0px 0px 0.8vw greenyellow;
}

.fa-spinner,.fa-clock{
	color: rgb(255, 0, 0);
	text-shadow: 0px 0px 0.8vw rgb(255, 0, 0);
}

.fa-lock,.fa-user-lock{
	color: rgb(0, 217, 255);
	text-shadow: 0px 0px 0.8vw rgb(0, 217, 255);
}
  
.fa-gift{
	color: red;
	text-shadow: 0px 0px 0.8vw red;
}
  
.fa-coin,.fa-coins{
	color: rgb(217, 255, 0);
	text-shadow: 0px 0px 15px yellow;
}
  
  
#level_box_det img{
	width: auto;
	max-width: 90%;
	height: 40%;
	margin-bottom: 5%;
}

#level_box_reward{
	color: rgba(184, 190, 147, 0.719);
	font-size: 0.8vw;
}
  
#level_box_reward_cost{
	color: rgba(211, 236, 49, 0.719);
	font-size: 0.7vw;
}
  
#level_box_description{
	font-size: 0.7vw;
	opacity: 0.7;
}

#level_box_claimer{
	margin-top: 7%;
	border-radius: 1.5vw;
	font-size: 0.6vw;
	padding: 2%;
	letter-spacing: 2px;
	background-color: rgba(29, 29, 29, 0.7);
	width: 80%;
	opacity: 0.8;
}
  
  
#level_box_claimer:hover{
  
	cursor: pointer;
	background-color: rgb(131, 122, 122);
	box-shadow: 0px 0px 15px rgb(131, 122, 122);
}
  
#level_box_canClaim{
	background-color: red;
	box-shadow: 0px 0px 15px red;
	color: white;
	margin-top: 8.5%;
	border-radius: 1.5vw;
	font-size: 0.6vw;
	padding: 2%;
	letter-spacing: 2px;
	width: 80%;
}

#level_box_canClaim i{
	color: white;
	text-shadow: 0px 0px 15px white;
}

#level_box_canClaim:hover{
  
	cursor: pointer;
	background-color: rgb(124, 0, 0);
	box-shadow: 0px 0px 15px rgb(124, 0, 0);
}
  
#level_box_canBuy{
	background-color: rgba(217, 255, 0, 0.589);
	box-shadow: 0px 0px 15px rgba(217, 255, 0, 0.589);
	color: white;
	margin-top: 9%;
	border-radius: 1.5vw;
	font-size: 0.6vw;
	padding: 2%;
	letter-spacing: 2px;
	width: 80%;
}

#level_box_canBuy i{
	color: white;
	text-shadow: 0px 0px 15px white;
}

#level_box_canBuy:hover{
  
	cursor: pointer;
	background-color: rgb(217, 255, 0);
	box-shadow: 0px 0px 15px yellow;
}
  
input[type=text] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 0.8vw;
	width: 90%;
	color: rgba(255, 255, 255, 0.719);
	height: 50px;
	text-align: center;
	background-color: rgb(27, 27, 27, 0.719);
	border-color: rgb(58, 58, 58, 0.719);
	margin-left: 5%;
	margin-right: 5%;
}

select[type=field] {
	font-family: "Prototype", serif;
	font-size: 0.8vw;
	width: 90%;
	color: rgba(255, 255, 255, 0.719);
	height: 50px;
	text-align: center;
	background-color: rgb(27, 27, 27, 0.719);
	border-color: rgb(58, 58, 58, 0.719);
	margin-left: 5%;
	margin-right: 5%;
}


button {
	font-family: "Prototype", serif;
	display: block;
	margin-top: 0px;
	padding: 10px;
	background-color: #5f1f1fb9;
	border: 0;
	color: rgba(255, 255, 255, 0.719);
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

	font-size: 0.8vw;
}

button:hover{

	cursor: pointer;
	background-color: rgb(87, 0, 0);
	box-shadow: 0px 0px 15px rgb(87, 0, 0);
}

#count {
    border: none;
    outline: none;
    font-size: 0.9vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.hoverControl {
    background-color: rgba(31, 31, 31, 0.589);
	user-select: none;
}


h1 {
	display: block;

	padding: 10px;
	color: rgba(143, 143, 143, 0.719);
	width: 95%;
	text-align: center;
	font-size: 1.0vw;
}

h2 {
	display: block;

	padding: 10px;
	color: rgba(143, 143, 143, 0.719);
	width: 95%;
	text-align: center;
	font-size: 0.9vw;
}


p {
	display: block;
	margin-top: 5px;
	margin-right: 5px;
	padding: 10px;
	color: rgba(121, 121, 121, 0.719);
	width: 50%;
	text-align: center;
	font-size: 0.8vw;
}


.radio {
	font-family: "Prototype", serif;
	text-align: center;
	font-size: 0.8vw;
	color: rgba(255, 255, 255, 0.719);
}

/* width */
::-webkit-scrollbar {
	width: 0.5vw;
	border-radius: 0.1vw;
	height: 0.55vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(156, 42, 160, 0.8);
	border-radius: 0.5vw;
	height: 0.55vw;
}

*.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in Internet Explorer 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

@font-face {
	font-family: "Prototype";
	src: url("../font/Prototype.ttf");
}
